asgiref==3.5.0
beautifulsoup4==4.10.0
bootstrap4==0.1.0
boto3==1.21.29
botocore==1.24.30
cycler==0.11.0
dj-database-url==0.5.0
Django==4.0.3
django-bootstrap4==22.1
django-crispy-forms==1.14.0
django-on-heroku==1.1.2
django-storages==1.12.3
fonttools==4.32.0
gunicorn==20.1.0
jmespath==1.0.0
joblib==1.1.0
kiwisolver==1.4.2
matplotlib==3.5.1
numpy==1.22.3
packaging==21.3
palettable==3.3.0
pandas==1.4.2
Pillow==9.0.1
psycopg2-binary==2.9.3
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
s3transfer==0.5.2
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
six==1.16.0
sklearn==0.0
soupsieve==2.3.1
sqlparse==0.4.2
threadpoolctl==3.1.0
urllib3==1.26.9
whitenoise==6.0.0
