{% extends "predictor/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1> Want new recommendations for indie fragrances?</h1>
<br>
<div>
    <h4> Select perfumes that you love or don't, <br>
        and/or enter in note preferences </h4>
    <br>
</div>

<div class="content-section">

    <form method="POST">
        {% csrf_token %}

        {{ form|crispy }}
        <button type="submit" class=""btn btn-primary">Get Recommendations</button>
    </form>

</div>
{% endblock content%}