{% extends 'predictor/perfume_list.html' %}

{% block title %}
<h2> Recommendations </h2>
{% endblock %}


{% block content %}

<h3> Based off your preferences for: </h3>
<br>
{% for perfume in perfume_loves %}
    {{ perfume }}<br><br>
{% endfor %}

{% if notes_loves %}
    and <br> <br>
    {{ notes_loves }}
{% endif %}

<br> <h3> And based off you not loving: </h3>

<br>
{% for perfume in perfume_not_loves %}
    {{ perfume }}<br><br>
{% endfor %}

{% if notes_not_loves %}
    and <br> <br>
    {{ notes_not_loves }}
{% endif %}

<br><br> <h2> We think you might like:</h2> <br>


{% for perfume, percent in perfumes %}
<article class="media content-section">

    <img class="rounded-circle article-img" src="{{ perfume.added_by.profile.image.url }}">
    <div class="media-body">
        <h4><a class="article-title" href="{% perfume.get_absolute_url %}">{{ perfume.name }} by
            {{ perfume.house}} </a></h4>
        <h5> Our confidence that you will like it: {{ percent }}%</h5>
        <p class="article-content">Description: {{ perfume.description }}</p>
        <div class="article-metadata">
            Added by: <a class="mr-2" href="{% url 'user-perfumes' perfume.added_by.username %}"> {{ perfume.added_by }} </a>
            <small class="text-muted"> on {{ perfume.added_date|date:"F d, Y" }}</small>
        </div>
    </div>

</article>

{% endfor %}

{% endblock %}