{% extends "predictor/base.html" %}

{% block content %}
<h1> Preference List </h1>

{% if latest_preference_list %}
<div>
    {% for preference in latest_preference_list %}
        <article class="media content-section">

            <img class="rounded-circle article-img" src="{{ preference.user.profile.image.url }}">
            <div class="media-body">
                <h3><a class="mr-2" href="{% url 'user-perfumes' preference.user.username %}">
                        {{ preference.user.username }} </a>  {{ preference.love_string }}: <br>
                    <a class="article-title" href="{% url 'perfume-detail' preference.perfume.id %}">
                        {{ preference.perfume.name }} by {{ preference.perfume.house}}</a></h3>
                <p class="article-content">{{ preference.perfume.description }}</p>
                <div class="article-metadata">
                    <small class="text-muted"> Reviewed on {{ preference.modified_date|date:"F d, Y" }}</small>
                </div>
            </div>

        </article>

    {% endfor %}
</div>

{% else %}
<p> No preferences available </p>
{% endif %}

{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{num}}">{{ num }}</a>
            <!-- within the previous and next 3 pages -->
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a>
    {% endif %}

{% endif %}

{% endblock content %}